/* High-level stuff */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

section#main {
  height: 100%;
  background-image: url("images/background.jpg");
}

/* SVG stuff */

svg#node-map-container {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  position: absolute;
}

svg text {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
  pointer-events: none;
}

circle {
  cursor: pointer;
}

line {
  stroke: #fff;
  stroke-width: 4px;
}

image, circle, text {
  transition: stroke-width 0.4s, fill 0.4s, opacity 0.4s;
}

text {
  stroke: #fff;
  stroke-width: 1px;
  font-family: Nunito, sans-serif;
  font-weight: 200;
  fill: #fff;
}

/* Info page styling */
.node-page {
  padding-top: 300px;
  width: 50%;
  margin: auto;
  opacity: 1;
  transition: opacity 1s;
  pointer-events: none;
}

.node-page__content {
  background-color: #848484c7;
  padding: 32px;
  border-radius: 5px;
}

.node-page.hidden {
  opacity: 0;
}
